body, html, #app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#controlPanel {
  display: flex;
  gap: 10px;
  padding: 10px;
  background-color: #f0f0f0;
}

#statusPanel {
  padding: 10px;
  background-color: #e0e0e0;
}

#map {
  flex-grow: 1;
  height: 100%;
  width: 100%;
}
